body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  transition: background 0.5s ease-in-out;

}

.App {
  
  text-align: center;
  padding: 2rem;
  animation: fadeIn 1s ease-in-out;
}

h2 {
  color: #2d4b50;
  font-size: 2rem;
  margin-bottom: 20px;
  animation: slideDown 1s ease-in-out;
}

input[type="file"] {
  margin: 10px ;
  padding: 10px;
  border: 2px dashed #999;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

input[type="file"]:hover {
  border-color: #333;
  transform: scale(1.02);
}

button {
  padding: 10px 20px;
  background-color: #513f77;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

p {
  margin: 0.5rem auto;
  color: #0e0640;
  font-size: 1.1rem;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideDown {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
